*
{
    margin:0;
    padding:0;
}
#memu ul
{
    z-index: -100;
    list-style:none;
    display:flex ;
    background-color: black;


}
#memu ul li
{
    
    border:1px solid white;
    width:100%;
     
    text-align:center;
   /* line-height:40px;
    float:left;
    position:relative; */


}
#memu ul li a
{
    text-decoration:none;
    color:white;
    padding: 10px;
    display:block;
}
#memu ul li a:hover 
{
    background-color:green;
}
#memu ul ul
{
    display:none;
    position:absolute;
}
#memu ul li:hover> ul{
    display:block;
}



